<div class="content-wrapper">
    <div class="float-right">
        <nav>
            <ul id="menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Backend", "Index", "Backend")</li>
            </ul>
        </nav>
    </div>
</div>
